{% extends 'base.html' %}

{% block title %}{{ news.title }}{% endblock %}
	
{% block content %}
	<div id="news_devision">
		<h2> {{ news.title }}</h2>
		<h4>{{ news.content | linebreaks }}</h4>
		<p> 
			Новость создана {{ news.user.username }}: {{ news.created_at }} | Отредактирована: {{ news.modified_at }}
		</p>
		{%if perm %}
		<p>
		<a href="{% url 'edit_news_form' news_id %}">Редактировать</a>
		</p>
		<p>
		<a href="{% url 'delete_news_form' news_id %}">Удалить</a>
		</p>
		{% endif %}
	</div>
	<hr>
	<div id="comments_devision">
		<h4> Комментарии: </h4>
		{% for item in comments%}
		<div class="comment">
			{% if item.user %}
				<p>От: {{ item.username }} </p> 
			{% else %}
				<p>От: {{ item.username }} (аноним) </p> 
			{% endif %}
			{{ item.content | linebreaks }}
		</div>
		{% empty %}
		<p>Пока нет ни одного комментария.</p>
		{% endfor %}
		<hr>
		<p>Добавить комментарий:</p>
		{% if new_comment %}
		<h4> Ваш комментарий был добавлен! </h4>
		{% else %}
		<form method="post" action="">
			{% csrf_token %}
			{% if request.user.is_authenticated %}
			{{ comment_form.content }}
			<input id="username" type="hidden" name="username" value="{{ request.user.username }}">
			{% else %}
			{{ comment_form.as_p }}
			{% endif %}
			<button type="submit">Оставить комментарий</button>
		</form>
		{% endif %}
	</div>

{% endblock %}