{% extends 'base.html' %}
{% load i18n %}
{% block title %}
	{% trans 'Edit user profile for ' %} {{ profile.user.username }}
{% endblock %}
{% block content %}
	<div id="user_profile">
		<h3>{% trans 'Edit user profile for ' %} {{ profile.user.username }}</h3>
		<div>
			<form method="post" action="" enctype="multipart/form-data">
				{% csrf_token %}
				{{ form.as_p }}
				<button type="submit">{% trans 'Edit profile' %}</button>
			</form>
		</div>
		<p><a href="{% url 'product_list' %}">{% trans 'Cancel editing' %}</a></p>
	</div>
{% endblock %}