<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h3>Прошел все курсы на SkillBox. Продаю готовые домашние задания.</h3>	
	<h4>Выбирайте курс и заказывайте работу:</h4>
	<ul>
		<li>
			<a href="/advertisement/1">Data Scientist</a>
		</li>
		<li>
			<a href="/advertisement/2">Python-разработчик</a>
		</li>
		<li>
			<a href="/advertisement/3">Веб-разработчик</a>
		</li>
		<li>
			<a href="/advertisement/4">Тестировщик</a>
		</li>
		<li>
			<a href="/advertisement/5">Java-разработчик</a>
		</li>
	</ul>
</body>
</html>