{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans 'Checkout' %}{% endblock %}
{% block content %}
	<h1>
		{% trans 'Checkout' %}
	</h1>
	<div class="order-info">
		<h3>
		{% trans 'Your order' %}
		</h3>
		<ul>
			{% for item in cart %}
			<li>
				{{ item.quantity }} x 
				{% if translate %}{{ item.product.ru_name }}
				{% else %}{{ item.product.name }}{% endif %}
				<span>{{ item.total_price }}</span>
			</li>
			{% endfor %}
		</ul>
		<p>{% trans 'Total' %}: $ {{ cart.get_total_price }}</p>
		<form action="." method="post">
			{% csrf_token %}
			<p><input type="submit" value="{% trans 'Place order' %}"></p>
		</form>
	</div>
{% endblock %}