{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{{ product.name }}{% endblock %}
{% block content %}

<div>
	<img src="{% if product.image %} {{ product.image.url }} {% else %}{% static 'img/no_photo.jpg' %}{% endif %}" width="156">
	{% if translate %}
		<h1>{{ product.ru_name }}</h1>
		<h2>{{ product.category.ru_name }}</a></h2>
	{% else %}
		<h1>{{ product.name }}</h1>
		<h2>{{ product.category }}</a></h2>
	{% endif %}
	<p>{% trans 'Price'%}:{{ product.price }}</p>
</div>
{% endblock %}