{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Profile' %}{% endblock %}
{% block content %}
    {% if request.user.is_authenticated %}
    {% trans 'Welcome' %} {{ request.user.username }}
    {% if request.user.avatar %}
        <p>
        <img src="{{ request.user.avatar.url }}" alt="Smiley face" width="250" height="250">
        </p>
    {% else %}
        <p>{% trans 'Avatar is not downloaded' %}</p>
    {% endif %}
    {% else %}
    {% trans 'You are not authorized on this site.' %}
    <a href="{% url 'login' %}">{% trans 'Log in' %}</a>
{% endif %}

{% endblock %}